<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="atl.general" name="decorator" />
    <title>AUI Page</title>

</head>
<body>
    <h2>AUI Page</h2>

           <p class="description"> Shows a standard dropdown </p>
           <div class="html-code">
                <div id = "dropDown-standard" class="styled-parent">
                    <li class="aui-dd-parent">
                        <a href="#" class="aui-dd-trigger">A Standard Dropdown</a>
                        <ul class="aui-dropdown">
                            <li class="dropdown-item"><a href="http://www.google.com" target="_blank" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
                        </ul>
                    </li>
                </div>
           </div>
          
            <script type="text/javascript">
               AJS.$("#dropDown-standard").dropDown("Standard");
            </script>
</body>
</html>